html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
  }
  
  body {
    background-color: whitesmoke;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  #navigation {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 40px;
    background-color: #602a6d;
    list-style-type: none;
    text-align: center;
    vertical-align: top;
    padding: 0px;
    margin: auto;
    font-size: 1.4rem;
    z-index: 10;
  }
  
  #navigation ul {
    margin: auto;
    padding: 0px;
  }
  
  #navigation li {
    display: inline;
    padding: 0px 4%;
    font-family: "Mukta", "Arial", sans-serif;
    color: #d5c7db;
  }
  
  #navigation li:hover {
    background-color: #d3eca4;
    color: #602a6d;
    cursor: pointer;
  }
  
  .langLink {
    font-size: 1rem;
  }
  
  a {
    color: inherit;
    text-decoration: inherit;
  }
  
  footer {
    background-color: #172720;
    font-family: "Mukta", "Arial", sans-serif;
    color: #749778;
    font-size: 0.8rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 45px;
    z-index: 3;
    margin-top: auto;
  }

.banner {
    display: block;
    text-align: left;
    padding-top: 3%;
    padding-left: 4%;
    font-family: "Laila", "Times New Roman", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: rgba(20, 14, 22, 0.95);
    background-color: rgba(235, 221, 221, 0.3);
    position: relative;
    top: 15vh;
    z-index: 5;
}

.background {
    position: relative;
    top: 0px;
    height: calc(100vh - 85px);
    overflow: hidden;
    background-image: url("images/cr_pen3.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-top: -10%;
    z-index: 0;
}

/*mobile portrait*/

@media only screen and (max-width: 480px) 
 { .background {
    background-image: url("images/cr_pen_vertical.gif");
 }

 #navigation {
     font-size: 1.2rem;
 }
}