//variables

$font-stack: "Mukta", "Arial", sans-serif;
$banner-font-stack: "Laila", "Times New Roman", sans-serif;

$header-color: #602a6d;
$background-color: rgb(245,245,245);
$footer-color: #172720;

$header-text-color: #d5c7db;
$footer-text-color: #749778;
$highlight-color: #d3eca4;

$banner-text-color: rgba(20, 14, 22, 0.95);
$banner-color: rgba(235, 221, 221, 0.3);

$image-url-landscape: url("images/cr_pen3.gif");
$image-url-portrait: url("images/cr_pen_vertical.gif");

$banner-text-align: left;
$banner-text-size: 3rem;

$header-height: 32px;
$header-font-size: 1.2rem;

$footer-font-size: 0.8rem;
$footer-height: 45px;