//variables

$font-stack: "Cuprum", "Arial", sans-serif;
$banner-font-stack: "Indie Flower", "Times New Roman", sans-serif;

$header-color: #1E2528;
$background-color: #9aa2a7;
$footer-color: rgb(40, 49, 51);

$header-text-color: #bfe5f2;
$footer-text-color: #8ba18e;
$highlight-color: #e6e3b6;

$banner-text-color: #1E2528;
$banner-color: rgba(235, 221, 221, 0.3);

$image-url-landscape: url("");
$image-url-portrait: url("");

$banner-text-align: center;
$banner-text-size: 4rem;

$header-height: 32px;
$header-font-size: 1.2rem;

$footer-font-size: 0.8rem;
$footer-height: 45px;