//imports

@import 'dark_variables';
@import 'header&footer';
@import 'theme_template';

.background {
    background-image: none;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: rgb(60,45,80);
    background: linear-gradient(142deg, rgba(60,45,80,1) 6%, rgba(154,185,195,1) 76%, rgba(194,189,107,1) 100%);
}

#navigation {
   padding-top: 10px;
}

footer {
    padding-top: 5px;
}

.banner {
    padding-top: 1%;
    padding-bottom: 1%;
}

@media only screen and (min-width: 480px) {

body {
    overflow: hidden;
}

#navigation {
    margin-left: 0px;
    width: 75px;
    height: 100vh;

    ul {
        vertical-align: center;
        width: 75px;
        height: 100vh;
        margin-top: 50%;
    }

    li {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10vh;
    }
}

.banner {
    margin-left: 75px;
}

}